<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Плеер: <span th:text="${media.name}">Media Player</span></title>
    <!-- Подключаем hls.js для воспроизведения HLS-потока -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script th:src="@{/bundle.js}"></script>
</head>
<body>
<h1 th:text="${media.name}">Media Title</h1>
<video id="videoPlayer" width="640" height="360" controls autoPlay>
    Ваш браузер не поддерживает видео.
</video>
<stemplayer-js>
    <stemplayer-js-controls label="Controls"></stemplayer-js-controls>
    <stemplayer-js-stem
            th:each="audio : ${media.audioTracks}"
            th:label="${audio.name}"
            th:src="${audio.streamUrl}">
    </stemplayer-js-stem>
</stemplayer-js>

<script th:inline="javascript">
    /*<![CDATA[*/
    const media = [[${media}]];
    /*]]>*/
</script>

<script>
    const video = document.getElementById('videoPlayer');
    videoHls = initHlsPlayer(video, media.videoTrack.streamUrl);

    function initHlsPlayer(element, url) {
        if (Hls.isSupported()) {
            const hls = new Hls();
            hls.loadSource(url);
            hls.attachMedia(element);
            return hls;
        } else if (element.canPlayType('application/vnd.apple.mpegurl') || element.canPlayType('application/x-mpegURL')) {
            element.src = url;
            return null;
        } else {
            console.error('Ваш браузер не поддерживает HLS');
            return null;
        }
    }
</script>
<a href="/media/">Вернуться к списку медиа</a>
</body>
</html>
